body {
	font: 13px/1.25 "HelveticaNeue", "STHeitiTC-Light", Helvetica, Arial, sans-serif;
	font-size: 1.3rem;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
div.header{
	background-color:#400090!important;
	padding:4px;
	color:#fff!important;
	font-size: 11px;
	font-size: 1.1rem;
}
div.header.ads{
	background-color:#121212!important;
}
.nav-icon{
	font-size: 22px;
	padding:6px;
	margin:6px;
}
div.logo{
	background-image:url(../images/yahoo_zh-Hant-TW_f_w_bestfit.png);
	background-repeat:no-repeat;
	height: 40px;
	line-height: 40px;
	display:inline-block;
	width:90px;
	height:42px;
	position: absolute;
	margin-top:2px;
	background-size:90px 42px;
}

div.div-left{
	width:130px;
	float:left;
}
div.div-right{
	float:right;
}
div.header_icons{
	text-align:center;
	display:inline-block;
	width:41px;
	padding:0px;
	margin-top:3px;
}
div.header_icons i{
	margin-left:8px;
	display:block;
	width: 25px;
	height: 25px;
	background-image: url(../images/sprite.png);
	background-size: 80px auto;
	background-repeat: no-repeat;
}
i.bid{
	background-position: -15px -4px;
}
i.shopping{
	background-position: -15px -35px;
}
i.store{
	background-position: -15px -67px;
}
i.arrow-icon{
	background-position: -15px -95px;
}
i.mail{
	background-position: -16px -635px;
}

div.search_bar{
	margin-top:5px;
	margin-bottom:5px;
}
div.search_bar .col-xs-10{
	padding-left:10px;
	padding-right:0px;
}
.btn-white{
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.search_btn{
	color:#400090!important;
}
div.menu_box{
	padding-left:0px;
	background-color:rgba(255, 255, 255, 0.9);
	border:rgba(255, 255, 255, 0.9) solid 2px;
}
ul.menu{
	list-style:none;
	padding:0px;
	margin-bottom:5px;
}
ul.menu li{
	display:inline-block;
	padding:0px 2px 0px 8px;
}
ul.menu li a{
	font-family: 'STHeitiTC-Medium';
	color:#400090;
	font-size: 15px;
	line-height: 30px;
	padding: 4px 2px 2px;
	border-bottom:rgba(255, 255, 255, 0.9) solid 3px;
	padding-bottom:10px;
	
}
ul.menu li a.active{
	color:#111;
	border-bottom:#400090 solid 3px;
}
p.start_btn{
	padding:20px;
}
p.clear_btn{
	padding-top:50px;
}
a.go_home{
	display: table-cell;
	color:#fff;
	font-size:13px;
	height:45px;
	line-height:46px;
}
a.go_home i{
	font-size:22px;
	vertical-align:middle;
	margin-right:10px;
}
a.go_home span{
	vertical-align:middle;
}

ul.news_list{
	list-style:none;
	padding:0px;
	margin:0px;
}
ul.news_list li{
	border-bottom:1px solid #DEDEDE;
	padding:10px;
}
ul.news_list li.ad{
	background-color:#fffae7;
}
ul.news_list li:first-child{
	padding:0px;
}
ul.news_list.no_padding li{
	padding:0px;
}
a.cover_news{
	display:block;
	width:100%;
	height:150px;
	background-size:100% auto;
	background-position:center top;
	background-repeat:no-repeat;
	position:relative;
}
a.cover_news div{
	color: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.95) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.95)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.95) 100%);
	background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.95) 100%);
	background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.95) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
	position: absolute;
	padding: 0 10px;
	right:0;
	left:0;
	bottom:0;
}
a.cover_news div h3{
	font-size: 1.7rem;
}
a.cover_news div h3:hover{
	text-decoration: underline;
}
a.big_cover_news{
	display:block;
	width:100%;
	height:250px;
	background-size:101% auto;
	background-position:center top;
	background-repeat:no-repeat;
	position:relative;
}
a.big_cover_news div{
	color: #000;
	background-color:#fff;
	position: absolute;
	padding: 10px;
	right:0;
	left:0;
	bottom:0;
}
a.big_cover_news div h3{
	margin: 0px;
	font-size: 1.7rem;
}
a.big_cover_news div h3:hover{
	text-decoration: underline;
}
a.big_cover_news div p{
	color:#999;
	margin:5px 0px;
}

a.big_cover_news.ad div{
	color: #000;
	background-color:#fff;
}

a.big_cover_news.ad div p{
	color:#999;
}

a.other_news{
	display:block;
	width:100%;
	position:relative;
}
a.other_news div.list_thumb{
	float:left;
	display:block;
	width:63px;
	height:63px;
	background-size:100px;
	background-position:center top;
}

a.other_news h3{
	color:#324fe1!important;
	font-size: 16px;
}
a.other_news p{
	color: #1e7d8e!important;
	font-size: 12px;
}
a.other_news div.list_info{
	float:left;
	display:block;
	margin-left:8px;
	width:225px;
}
a.other_news div.list_info h3{
	margin: 3px 0px 8px;
}
div.clear_fix{
	clear:both;
}
div.news_content h1{
	margin:20px 0 17px;
	font-size: 1.7rem;
}
div.news_content > p{
	margin:0 15px 8px;
	font-size: 12px;
}
div.news_content p.form{
	color: #1e7d83!important;
}
div.news_content p.time{
	color: #abaeb7!important;
}
div.content_text {
	margin-top: 23px;
	font-size: 15px;
}
div.content_text p {
	color:#000;
	line-height: 22.5px;
	margin: 8.25px 15px 16.5px;
}
img.ad{
	width:100%;
}
.menu-fixed{
	position: fixed;
	top:0;
	z-index:100;
}
div.home_header{
	line-height:40px;
	height:40px;
	background-color:#aee0f8;
	margin-bottom:80px;
	color:#2b1d68;
	padding-left:100px;
}
img.yahoo_logo{
	position: absolute;
	z-index: 10;
	top:0;
	left:0;
}
footer{
	width:100%;
	background-color:#877cbf;
	border-top:#aee0f8 solid 15px;
	padding:15px 10px;
	position: fixed;
	bottom:0;
}
/* Remove close button on jQueryUI Dialog */
.ui-dialog-titlebar {
  visibility: hidden;
}